[submodule "lib/Leaflet.markercluster"]
	path = lib/Leaflet.markercluster
	url = https://github.com/Leaflet/Leaflet.markercluster.git
[submodule "lib/Leaflet.EasyButton"]
	path = lib/Leaflet.EasyButton
	url = https://github.com/CliffCloud/Leaflet.EasyButton.git
