.dc-pancake-parent
{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.dc-pancake-child
{
   flex: 0 0 600px;
}

/* leaflet js map div needs a fixed height */
#mapdiv 
{ 
   width: 800px; 
   height: 600px; 
}

#infodiv
{
   flex: 1 1 600px;
   border: 5px solid #1C6EA4;
}

.header 
{
   padding: 20px;
   text-align: center;
   background: #1abc9c;
   color: white;
   font-size: 20px;
}

.content
{
}

.artist_info
{
   width: 100%;
   padding: 6px;
   background: #fff;
}

.artist_info:nth-of-type(odd) 
{
   background: #eee;
}
